@model IEnumerable<examenNa.Models.Cobertura>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nueva Cobertura", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreCobertura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCobertura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.IdCobertura }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.IdCobertura }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.IdCobertura }) 
        </td>
    </tr>
}

</table>
