@model examenNa.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Plan.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plan.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApePaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApePaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApeNaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApeNaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechsModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechsModificacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdCliente }) |
    @Html.ActionLink("Listado", "Index")
</p>
