@model IEnumerable<examenNa.Models.Plan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nuevo Plan", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Cobertura.NombreCobertura)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Descripcion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cobertura.NombreCobertura)
    </td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.IdPlanes }) |
        @Html.ActionLink("Detalles", "Details", new { id = item.IdPlanes }) 
    </td>
</tr>
}

</table>
